body {
    /*
    background-image: url(images/pexels-photo-6388523.jpeg);
    background-position: 50% 35%;
    */
    background: rgb(29, 29, 29);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.background-image {
    scale: 0.85;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    background-image: url(images/pexels-photo-6388523.jpeg);
    opacity: 0.7;
    background-position: 60% 35%;
    z-index: -1;
}

#rdv-logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5em;
}

.nav-container {
    padding-top: 2%;
    padding-left: 7%;
    padding-right: 5%;
    display: flex;
}

.nav-container a {
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    text-decoration: none;
}

.left-link {
    display: flex;
}

.right-link {
    width: 18%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
}

/*
.rdv-logo {
    height: auto;
    max-width: 8%;
}
*/

.text-box {
    margin-top: 22%;
}

@media screen and (max-width: 1440px) {
    .text-box {
        margin-top: 23%;
    }
  }

.coming-soon {
    color: white; 
    text-align: center; 
    font-weight: 700; 
    font-size: 96px;
    margin-bottom: 0%;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
}

#form {
    border: 0.5px solid;
    border-color: white;
    border-radius: 25px;
    padding: 10px;
}

#email {
    width: 270px;
    background: transparent;
    border: 1px solid transparent;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#email:focus {
    outline: none;
}

#submit {
    height: 30px;
    width: 110px;
    transition: box-shadow all ease-in-out .5s;
    padding-bottom: 2%;
    padding-top: 2%;
    background: white;
    /*
    background: #9796f0; 
    background: -webkit-linear-gradient(#fbc7d4, #9796f0);
    background: linear-gradient(to right, #fbc7d4, #9796f0);
    */
    color: #0B0A04;
    border: 1px solid transparent;
    border-radius: 20px;
}

#submit:hover {
    box-shadow: 0 0 6px white;
    transform: scale(0.9);
}

footer {
    padding-left: 7%;
    margin-top: 14%;
    display: flex;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-icons {
    height: 60%;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.4s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.footer-icons:hover, .footer-icons:focus, .footer-icons:active {
    margin-top: -6%;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
}

.bottom-right-link {
    padding-right: 6%;
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
}

@media screen and (max-width: 1440px) {
    .background-image {
        scale: 0.83;
        background-position: 60% 35%;
    }  
  }

@media screen and (max-width: 1440px) {
    .bottom-right-link {
        padding-right: 8.2%;
    }

    .nav-container {
        padding-left: 7.8%;
    }

    .right-link {
        width: 21%;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        right: 0;
    }
  }
